// COLOR VARIABLES

$green:#6BC694;
$grey:#F2F2F2;
$black: black;
$white:white;
$purple:purple;

// RESPONSIVE BREAKPOINTS
$bp-xxlarge: 1400px;
$bp-xlarge: 1200px;   
$bp-large: 1000px;   
$bp-medium: 750px;    
$bp-small: 600px; 
$bp-xsmall: 500px;   